

<!--<md-button ng-mouseover="open = true" ng-mouseleave="open = false">-->
  <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
  <!--<md-button class="md-raised md-warn saveButton"  ng-show="open">Save</md-button>-->
<!--</md-button>-->




<!--Pin Cards-->
<div flex ng-cloak class="gridListdemoBasicUsage">
  <md-grid-list md-cols-xs="2" md-cols-sm="4" md-cols-md="6" md-cols-gt-md="10" md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter="2px" md-gutter-gt-sm="2px">

    <md-grid-tile ng-repeat="pin in pins | filter:searchText" ng-mouseover="open = true" ng-mouseleave="open = false" class="card" md-rowspan="{{ pin.rowspan }}" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
      <!-- <md-button class="md-icon-button md-accent favoriteButton" aria-label="Favorite">
        <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
      </md-button> -->
      <img src="{{ pin.img }}" alt="">
      <md-button class="md-raised md-warn saveButton" ng-show="open" ng-click="showAdvanced($event)">Save</md-button>
      <md-grid-tile-footer ng-show="open">
        <h3>{{ pin.title }}</h3>
        <h3 class="hide">{{ pin.tag }}</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>
