<md-dialog aria-label="Pin Popup">
  <form ng-cloak>
    <md-toolbar layout="row" layout-align="space-between center">

      <md-button flex="10" class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="md">close</md-icon>
      </md-button>
      <div flex class="md-toolbar-tools">
        <h2>work</h2>

      </div>

    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Pin Name?</h2>
        <p>Pin Text?</p>

        <img style="margin: auto; max-width: 100%;" alt="Not working" src='{{ pinImg }}'>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        ???
      </md-button>
      <span flex></span>
      <md-button ng-click="">
        Add to Board
      </md-button>
      <md-button ng-click="">
        Like Pin
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

