<md-dialog aria-label="Pin Popup">
  <form ng-cloak>
    <md-toolbar class="md-accent" layout="row" layout-align="space-between center">

      <md-button flex="10" class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-set="md">close</md-icon>
      </md-button>
      <div flex class="md-toolbar-tools">
        <h2>{{ pinTitle }}</h2>
      </div>

    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <img style="margin: auto; max-width: 100%;" alt="Not working" src='{{ pinImg }}'>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href='{{ pinImg }}' target="_blank" md-autofocus>
        Image Source
      </md-button>
      <span flex></span>
      <md-button ng-click="">
        <md-icon md-font-set="md">add</md-icon>
      </md-button>
      <md-button class="md-accent" ng-click="">
        <md-icon md-font-set="md">favorite</md-icon>
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
