<div class="container flex">

  <div layout="row">

<!-- user profile card -->
  <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch flex="auto" class="userCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">My Pins</span>
            <span class="md-subhead">UserName</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"></div>

          <!-- user image -->
          <div>
            <img class="userImage" src="http://i.imgur.com/LPsxLQE.png" alt="user picture" width="100" height="100">
          </div>
        </md-card-content>
      </md-card>

  </div> <!-- end of user card -->

<!-- Sub-nav bar and page content in user page -->
  <div layout="row">
    <div class="submenu" flex="80" flex-offset="10">
        <div ng-controller="AppCtrl" ng-cloak>
            <md-content class="md-padding">
              <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
              <md-nav-item md-nav-click="goto('page1')" name="Create Pin" ng-click="createPin($event)">Create Pin</md-nav-item>
              <md-nav-item md-nav-click="goto('page1')" name="Pins">Pins</md-nav-item>
              <md-nav-item md-nav-click="goto('page2')" name="Boards">Boards</md-nav-item>
              <!-- <md-nav-item md-nav-click="goto('page3')" name="Likes">Likes</md-nav-item> -->

              </md-nav-bar>  <!-- end of nav bar -->

            <div class="ext-content">





             <div class="userBoards">
              <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
                <md-button class="md-primary md-raised" ng-click="showPrompt($event)">
                Create New Board
                </md-button>
                <!-- <md-button class="md-primary md-raised">
                  Create Pin
                </md-button> -->
              </div>
              <md-content class="md-padding" layout-xs="column" layout="row">
              <!-- <div layout="row">
                <span></span> -->
                <div flex-xs flex-gt-xs="50" layout="column">
                  <md-card>
                    <md-card-title>
                    <md-card-actions layout="column" layout-align="start">
                      <md-button>
                        <span class="md-headline">Board Name 2</span>
                      </md-button>
                      <md-button>
                        Edit Board
                      </md-button>
                    </md-card-actions>

                    </md-card-title>
                    <img ng-src="http://i.imgur.com/jUoZ97r.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-content>
                      <p>
                        put tags here.
                      </p>
                    </md-card-content>

                  </md-card>
                </div> <!-- end of first card -->

                <div flex-xs flex-gt-xs="50" layout="column">
                  <md-card>
                    <md-card-title>
                    <md-card-actions layout="column" layout-align="start">
                      <md-button>
                        <span class="md-headline">Board Name 2</span>
                      </md-button>
                      <md-button>
                        Edit Board
                      </md-button>
                    </md-card-actions>

                    </md-card-title>
                    <img ng-src="http://i.imgur.com/jUoZ97r.jpg" class="md-card-image" alt="Washed Out">
                    <md-card-content>
                      <p>
                        put tags here.
                      </p>
                    </md-card-content>

                  </md-card>
                </div> <!-- end of card container -->
              </div> <!-- end of boards div -->

            </div> <!-- end of div for page content -->
          </md-content>
        </div>
    </div>
  </div> <!-- end of div for submenu and page content
 -->


</div> <!-- end of div container for page
 -->
