<div class="container flex">

  <div layout="row">

<!-- user profile card -->
  <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch flex="auto" class="userCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">My Pins</span>
            <span class="md-subhead">UserName</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"></div>

          <!-- user image -->
          <div>
            <img class="userImage" src="http://i.imgur.com/LPsxLQE.png" alt="user picture" width="100" height="100">
          </div>
        </md-card-content>
      </md-card>

  </div> <!-- end of user card -->

<!-- Sub-nav bar and page content in user page -->
  <div layout="row">
    <div class="submenu" flex="80" flex-offset="10">
        <div ng-controller="AppCtrl" ng-cloak>
            <md-content class="md-padding">
              <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
              <md-nav-item md-nav-click="goto('page1')" name="Create Pin">Create Pin</md-nav-item>
              <md-nav-item md-nav-click="goto('page1')" name="Pins">Pins</md-nav-item>
              <md-nav-item md-nav-click="goto('page2')" name="Boards">Boards</md-nav-item>
              <!-- <md-nav-item md-nav-click="goto('page3')" name="Likes">Likes</md-nav-item> -->

              </md-nav-bar>  <!-- end of nav bar -->

            <div class="ext-content">
            External content for `<span>{{currentNavItem}}</span>`
              <div>
                <span></span>
              </div>
            </div> <!-- end of div for page content -->
          </md-content>
        </div>
    </div>
  </div> <!-- end of div for submenu and page content
 -->


</div> <!-- end of div container for page
 -->
